body {
    background: #a2add0;
}
aside {
     float: left;
     background: #606e8c;
     width: 100%;
     padding: 1.2%;
     height: 50vh;
     color: #202841;
     border-right: 4px solid #3e5f8a;
}
aside .logo {
    font-size: 27px;
    manage-left: 2px;
    font-weight: 600;
    position: relative;
    top: -2px;
}
aside h3 {
    margin-top: 20px;
    font-size: 22px;
    font-weight: 500;
    position: relative;
    top: -2px;
}

aside ul {list-style: none}
aside ul li {
    color: #202841;
    display: block;
    margin-top: 18px;
    font-size: 19px;
    transition: all .6s ease;
    text-decoration-color: #606e8c ;
    font-weight: 500;
    text-decoration: none;

}
aside ul li:hover, aside ul li a:hover{
    color:  #a2add0;
    transform: scale(1.05);
}
main .features {
    float: left;
    color: #000000;
    margin-top: 100px;
    text-align: center;
    width: 75%;
    position: relative;
    top: -100px;
    padding: 1.5%;
    text-decoration: none;
}
main .features h1 {font-size: 35px;font-weight: 400;position: relative;left:35px;}
main .features p {
    width: 350px;
    margin-left:-130px;
    right:-250px;
    left:50%;
    font-size: 20px;
    font-weight: 400px;
    position: relative;
    text-align: justify;
    height: 55px;
    align:center;
}



main .features img {
    position: relative;
    top: 800px;
    width: 375px;
    position: relative;
    left: -6px;
    height:300px;
}

.alert-warning {
    float: left;
    clear: both;
    width: 400px
    margin: 20px 34%;
    text-align: left;
}

form {
    margin-left: 32%;
    width: 500px;
    margin-top: 50px;
}


