{%  extends 'main/layout.html' %}

{% block title  %} Основные факторы {% endblock %}

{% block content  %}
 <div class="features">
      <h1>Основные факторы</h1>
      <p>К основным факторам влияния компьютера на здоровье человека относятся:
<br>• сидячее положение в течение длительного времени;
<br>• воздействие компьютерного излучения;
<br>• перенапряжение глаз, нагрузка на зрение;
<br>• нагрузка на суставы кистей.
<br>Предлагаю рассмотреть каждый фактор подробнее и выделить основные меры предосторожности.
          <br>
       <br>СИДЯЧЕЕ ПОЛОЖЕНИЕ В ТЕЧЕНИИ ДЛИТЕЛЬНОГО ВРЕМЕНИ:
          <br>
<br>Из-за долгого сидения за компьютером возникает постоянная нагрузка на мышцы спины и шеи, всё это усугубляется если человек также сидит в неправильной позе. Из – за всего этого может возникать: остеохондроз, радикулит, артрит. Известно, что у людей, работающих в сидячем положение чаще всего возникает остеохондроз шейного отдела. Чтобы уберечь свое здоровье следует придерживаться правилам:
<br>• держать правильную осанку: ноги должны стоять на полу, локти согнуты под углом 90-120 градусов, спина прижата к спинке кресла, монитор расположите на расстоянии 50-70 см, плечи выпрямите;
<br>•Делать разминку примерно раз в 1-2 часа, достаточно сделать пару легких упражнений для шеи, плеч и спины (подняться на носки, поднять руки, потянуться, сделать наклоны головы);
          <br>
        <br>ВОЗДЕЙСТВИЕ ИЗЛУЧЕНИЯ МОНИТОРА:
          <br>
<br>Не смотря на то что, мы не можем увидеть излучение от компьютера, оно все равно влияет на наш организм. Оно вызывает головные боли, бессонницу, стресс, может стать причиной кожных заболеваний. Чтобы как можно меньше поддаваться излучению нужно следовать следующим правилам:
<br>• не держать компьютер возле кровати;
<br>• монитор компьютер не должен находиться ближе чем 30 см от головы;
<br>• делать побольше перерывов;
<br>• выключать компьютер после окончания работы с ним;
<br>• чаще вытирать пыль, делать влажную уборку;
          <br>
        <br>ПЕРЕНАПРЯЖЕНИЕ ГЛАЗ, НАГРУЗКА НА ЗРЕНИЕ:
          <br>
<br>Во время длительной работы за компьютером работы глаза сильно перенапрягаются и устают. Если не следить за состоянием своих глаз, восстановить зрение сможет помочь только хирургическое вмешательство. Чтобы защитить свои глаза нужно придерживаться правилам:
<br>• работать в правильно освещенном помещении: солнечные лучи не должны попадать прямо в глаза или на экран;
<br>• выбирать монитор с большой диагональю и частотой мерцания 60-100 Гц;
<br>• центр монитора должен быть на 10-20 см ниже ваших глаз, расстояние до экрана от глаз должно составлять не менее 60 см;
<br>• желательно не работать за компьютером больше 4 часов в день;
<br>• делать паузы во время работы каждые 20 минут и делать гимнастику для глаз;
          <br>
         <br> ВОЗДЕЙСТВИЕ НА ПСИХИКУ:
          <br>
<br>Компьютер влияет не только на физическое здоровье, но также и на психологическое. Часто взрослые и дети становятся заложниками компьютера и проводят в нем все свое свободное время. В начале изменения в состоянии человека незаметны, но чем больше он погружается в компьютерный мир, тем больше у него проявляется агрессивность и раздражимость. Чтобы сохранить свое психическое здоровье необходимо придерживаться правилам:
<br>• соблюдайте режим дня;
<br>• старайтесь минимизировать возможные раздражители;
<br>• уделяйте больше времени себе и своему здоровью;
          <br>
           <br>НАГРУЗКА НА СУСТАВЫ КИСТЕЙ:
           <br>
 <br>При работе с компьютером мы много печатаем тем самым перенапрягаем кисти и пальцы рук. В руках и пальцах могут проявляться слабость и боли. Для того чтобы избежать этого необходимо:
 <br>• делать частые перерывы;
 <br>• использовать мягкие подставки для рук;
 <br>• правильно держите руки при работе: локти должны располагаться близко к туловищу, кисть и предплечье должны формировать одну линию, локоть должен находиться на опоре;
 <br>• делать разминку для рук;

</p>

  </div>
{% endblock %}