{%  extends 'main/layout.html' %}

{% block title  %} Введение {% endblock %}

{% block content  %}
  <div class="features">
      <h1> Введение </h1>
      <p>Компьютер – это изобретение которое кардинально изменило жизнь человека, не смотря на то что появилось это изобретение относительно недавно. Сегодня уже тяжело представить работу и учебу без использования компьютера. И, казалось бы, что в этом плохого, компьютер открывает перед человеком бесконечное количество возможностей, но не стоит забывать, что у каждой медали есть две стороны. Часто люди не замечают, как становятся буквально зависимыми от компьютера, к сожалению, частое пользование компьютером отрицательно действует на здоровье человека. Но вряд ли кто-то готов полностью отказаться от использования компьютером ради своего здоровья. Что делать чтобы сохранить свое психическое и физическое здоровье при пользовании компьютером? Как именно компьютер влияет на здоровье человека? Ответы на эти и другие вопросы представлены на моем сайте «Как защитить себя от компьютера».</p>


      {% for el in values %}
           {% if el == 'Hello' %}
               {% filter upper %}
                  <p>{{ el }}</p>
               {% endfilter %}
           {% endif %}
      {% endfor  %}

      {% for el in odj %}
          <p>{{ el }}</p>
      {% endfor  %}

  </div>
{% endblock %}